*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar a, .navbar ul li a{
    color: #fff;
}
.navbar a:hover{
    border-radius: .3rem;
    background-color: rgba(81, 80, 80, 0.4);
    color: rgba(239, 237, 237, 0.6);
}
h1{
    text-align: center;
}

.btn{
    background-color: #bd4566;
    color: #fff;
}
img{
    width: 100%;
}