body {
    font-family: "Quicksand", sans-serif;
    background-color: #faf2f2;
}

.navbar a {
    font-weight: 400;
    color: #000;
}

.navbar-brand {
    font-family: "Henny Penny", system-ui;
    font-weight: 450;
}

.slider-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.btn-general {
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    background-color: #000;
}

.btn-general a {
    text-decoration: none;
    color: #fff;
}

.btn-general:hover {
    transition: ease .5s;
    background-color: rgba(27, 26, 26, 0.9);
}

.social_media_icons {
    height: 70%;
}