*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
    top: 0;
    position: fixed;
    background-color: #f9ece6;
}

.navbar a, .navbar ul li a{
    color: #000;
}
h1{
    text-align: center;
}

