{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Cart</title>
{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="text-center">Your Cart</h1>
        <ul class="list-group mt-4">
            {% for item in cart_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ item.image }}
                {{ item.name }}
                <span>Kshs{{ item.price }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
