{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Product Detail</title>
{% endblock %}
{% block extra_css %}
    
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text justified">{{ product.description }}</p>
                        {% if product.is_new %}
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                &nbsp;&nbsp;New!&nbsp;&nbsp;
                                <div class="bi-star-fill"></div>
                                KSHS {{ product.price }}
                            </div>
                        {% else %}}
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                KSH {{ product.price }}
                            </div>
                        {% endif %}
                        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                        <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To
                            Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}