{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Cart</title>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Billing Info</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-5">
                    <div class="card-header">Order Summary</div>
                    <div class="card-body">
                        {% for product in cart_products %}
                            <div class="d-flex gap-5 mb-5">
                                <img src="{{ product.image.url }}" class="img-fluid rounded-start"
                                     alt="{{ product.name }}"
                                     style="width:25%">
                                <div>
                                    <p>{{ product.name }}:</p>
                                    {% if product.is_new %}
                                        <h6>KSHS {{ product.price }}</h6>
                                    {% else %}
                                        <h5>KSHS {{ product.price }}</h5>
                                    {% endif %}
                                    <small>Quantity:
                                        {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                                <h5>{{ value }}</h5>
                                            {% endif %}
                                        {% endfor %}</small>
                                </div>
                            </div>
                        {% endfor %}
                        <h5>Total: KSHS {{ totals }}</h5>
                        <br>
                        <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary mt-4">Update
                            Items</a>
                    </div>
                </div>

                <div class="card mt-5 mb-2">
                    <div class="card-header">Shipping Information</div>
                    <div class="card-body">
                        Name: {{ shipping_info.shipping_full_name }}
                        Email: {{ shipping_info.shipping_email }}
                        Address 1: {{ shipping_info.shipping_address1 }}
                        Address 2: {{ shipping_info.shipping_address2 }}
                        City: {{ shipping_info.shipping_city }}
                        State: {{ shipping_info.shipping_state }}
                        Zipcode: {{ shipping_info.shipping_zipcode }}
                        Country: {{ shipping_info.shipping_country }}
                        <a href="{% url 'checkout' %}" class="btn btn-outline-secondary mb-5">Update Shipping</a>

                    </div>
                </div>
                <div class="card mt-5 mb-2">
                    <div class="card-header">Billing Information</div>
                    <div class="card-body">
                        <form action="{% url 'process_order' %}" method="POST">
                            {% csrf_token %}
                            {{ billing_form.as_p }}
                            <button type="submit" class="btn btn-secondary mb-5">Pay Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}