{% extends 'master.html' %}
{% block title %}
    <title>Shipped Items</title>
{% endblock %}
{% block content %}
    <div class="container mb-5">
    <div class="row">
        <div class="col-8 m-auto">
            <h1 class="text-center">Shipped Items</h1>
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Price</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Date Shipped</th>
                </tr>
                </thead>
                <tbody>
                {% for item in orders %}
                <tr>
                    <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
                    <td>KSHS {{ item.amount_paid }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.date_shipped }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}